* {
    box-sizing: border-box;
}
.favoritoCard{
    background-color: rgb(1, 6, 28);
    margin-bottom: 20px;
    width: 24%;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgb(1, 6, 28);
    margin-top: 35px;
    
    }

    .portadaPelis{
        width: 80%;
        margin-bottom: 20px;
        margin-left: 10%;
    }
    .titulo {
        font-size: 20px;
        width: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin-left: 0%;
        color: white;
    }

    .estreno {
        font-size: medium;
        width: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin-left: 0%; 
    }