

a {
    color:white;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;

}

nav {
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(1, 6, 28);
    font-family: 'Oswald', sans-serif;
    justify-content:space-between;
}

.logo{
    width: 30%;
    align-items: left;
    
}

.opciones{
    margin-right: 50px;
    list-style: none;
    display:inline-block;
    margin-top: 1.2%;
}




