* {
    box-sizing: border-box;
}
.seriesCard {
    width: 17%;
    margin:0 1rem 2rem;
    padding:1rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(109, 109, 109, 0.3);
    max-width:20rem;
    display:flex;
    flex-direction: column;
    background-color: white;
    border-style: double;
    border-color: rgb(0, 0, 0);
    border-width: 0,5rem;
    /*Los 3 ultimos no los toma*/
}
.imagenesSerie {
    width: 50%;
}
.tituloSerie{
    font-size: medium;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 0%;
}
